
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-group-vertical">
    <br />
    <br />
    <br />
    <br />
@Html.ActionLink("Арендатор", "Index", "Арендатор", null, new { @class = "btn btn-default" })
@Html.ActionLink("Арендодатель", "Index", "Арендодатель", null, new { @class = "btn btn-default" })
@Html.ActionLink("Договор", "Index", "Договор", null, new { @class = "btn btn-default" })
@Html.ActionLink("Должности", "Index", "Должности", null, new { @class = "btn btn-default" })
@Html.ActionLink("Здания", "Index", "Здания", null, new { @class = "btn btn-default" })
@Html.ActionLink("ОбщиеПомещения", "Index", "ОбщиеПомещения", null, new { @class = "btn btn-default" })
@Html.ActionLink("ПоказанияСчётчика", "Index", "ПоказанияСчётчика", null, new { @class = "btn btn-default" })
@Html.ActionLink("Помещения", "Index", "Помещения", null, new { @class = "btn btn-default" })
@Html.ActionLink("ПослужнойСписок", "Index", "ПослужнойСписок", null, new { @class = "btn btn-default" })
@Html.ActionLink("Сотрудники", "Index", "Сотрудники", null, new { @class = "btn btn-default" })
@Html.ActionLink("Электрооборудование", "Index", "Электрооборудование", null, new { @class = "btn btn-default" })
</div>
