@model KP.Models.Договор

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Договор</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDДоговор)

        <div class="form-group">
            @Html.LabelFor(model => model.ДатаВъезда, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ДатаВъезда)
                @Html.ValidationMessageFor(model => model.ДатаВъезда)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ДатаВыеда, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ДатаВыеда)
                @Html.ValidationMessageFor(model => model.ДатаВыеда)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ИнформацияПоПомещению, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ИнформацияПоПомещению)
                @Html.ValidationMessageFor(model => model.ИнформацияПоПомещению)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
