@model KP.Models.Сотрудники

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Сотрудники</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Отчество)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Фото)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фото)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ДатаРождения)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ДатаРождения)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пол)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Образование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Образование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ПаспортныеДанные)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ПаспортныеДанные)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDСотрудника }) |
    @Html.ActionLink("Back to List", "Index")
</p>
