@model KP.Models.Должности

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Должности</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.НаименованиеДолжности)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.НаименованиеДолжности)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Оклад)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Оклад)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Требования)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Требования)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDДолжности }) |
    @Html.ActionLink("Back to List", "Index")
</p>
