@model KP.Models.Электрооборудование

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Электрооборудование</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Количество)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Количество)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.СуточноеВремяРаботы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.СуточноеВремяРаботы)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDЭлектрооборудование }) |
    @Html.ActionLink("Back to List", "Index")
</p>
